.root {
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.root svg {
    width: auto;
    height: 120px;
    padding: 5px 0;
}
@media (max-width: 800px) {
    .root svg {
        height: 80px;
    }
}